<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>5+6=11</string>
			<string>3576</string>
			<string>&gt;&lt;&gt;&lt;&lt;&lt;</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>600</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
